/* font-family: 'Montserrat', sans-serif; */

body {
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background-image: url(../images/bg-photo.jpg);
  height: 815px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1840px;
  padding: 0 15px;
  margin: 0 auto;
}

.header__top-nav {
  padding: 64px 0;
}

.header__top-item {
  display: flex;

  align-items: center;
}

.header__top-link {
  padding-left: 50px;
}

.header__top-links {
  color: #fff;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.header__top-a {
  padding-left: 65px;
}

.header__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.header__inner-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.header__content-title {
  text-align: center;
  font-size: 92px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.header__content-title span {
  color: #ed6950;
}

.header__content-text {
  font-size: 19px;
  line-height: 92px;
  color: #4e5352;
}

.header__top-img {
  position: relative;
  top: 0;
  right: 25px;
}

.header__content-link a {
  padding: 21px 31px;
  background-color: #ffc74a;
  color: #b98000;
  border-radius: 37px;
  font-size: 14px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  display: block;
}

.header__content-nav {
  margin-top: 5%;
  font-size: 19px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}


.go {
  padding-top: 73px;
  padding-bottom: 30px;
}

.go__title {
  font-size: 30px;
  line-height: 92px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
  color: #606f81;
}

.go__search {
  margin-top: 50px;
  text-align: center;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #a0a9b3;
  position: relative;
}

.go__search-png {
  position: relative;
  top: 20px;
  right: 203px;
}

.go__search-png::after {
  content: '';
  position: absolute;
  background-image: url(../images/icon/search2.png);
  width: 16px;
  height: 16px;
  top: -15px;
  left: 156px;
}


.go__search-input {
  width: 100%;
  max-width: 815px;
  border-radius: 25px;
  border: none;
  padding: 20px 30px;
  box-shadow: 1px 0px 5px -3px #000000;
}

.go__search-pngimg {
  display: inline;
}

.go__item {
  width: 355px;
  border: 10px solid #fff;
  border-radius: 9px;
  box-shadow: 0px 1px 10px -7px #000000;
  margin: 0 auto;
}

.go__item-info {
  text-align: center;
}

.go__item-title {
  color: #606f81;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-top: 29px;
}

.go__item-text {
  color: #606f81;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.go__item-link {
  padding: 15px 26px;
  box-shadow: 1px 0px 5px -3px #000000;
  border-radius: 25px;
  width: 162px;
  display: block;
  margin-top: 44px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  color: #bdc8d9;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  transition: all 0.5s;
}

.go__item-link:hover {
  background-color: #ffc74a;
  color: #b98000;

}

.go__tags {
  display: flex;
  justify-content: space-around;
  margin: 31px 0 40px;
  flex-wrap: wrap;
}

.go__tags-place .go__tags-link {
  background-color: #fff;
  color: #8d97a5;
  border: 1px solid #bdc8d9;
}

.go__tags-link {
  padding: 10px 17px;
  background-color: #bdc8d9;
  border-radius: 25px;
  font-size: 14px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin: 0 5px;
  color: #fff;
  transition: all 0.5s;
}

.go__tags-link:hover {
  background-color: #ffc74a;

}

.go__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(334px, 1fr));
}

.city {
  padding: 73px 0 140px;
  background-color: #f8f9fb;
}

.city__inner-title {
  text-align: center;
  color: #606f81;
  font-size: 30px;
  margin-bottom: 124px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.city__text {
  width: 560px;
  font-size: 14px;
  line-height: 28px;
  color: #606f81;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.city__title {
  font-size: 36px;
  color: #f8c759;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-bottom: 27px;
}

.city__text+p {
  margin-top: 20px;
}

.city__link {
  background-color: #ffc74a;
  padding: 15px 26px;
  box-shadow: 1px 0px 5px -3px #000000;
  border-radius: 25px;
  width: 216px;
  display: inline-block;
  margin-top: 22px;
  margin-bottom: 30px;
  margin-right: auto;
  color: #b98000;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.5px;
}

.city__inner {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.city__info {
  margin-right: 83px;
}

.city__pic img {
  width: 502px;
  margin-top: -53px;
}

.city__pic {
  position: relative;
  display: inline-grid;
}

.city__pic-img {
  z-index: 1;
}

.city__border {
  width: 502px;
  height: 502px;
  background-color: transparent;
  border: 15px solid #ffc74a;
  position: absolute;
  top: -24px;
  right: -37px;
}

.enjoy {
  background-image: url("../images/enjoy.png");
  min-height: 588px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

.enjoy__title {
  font-size: 92px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #fff;
  margin-top: 150px;
}

.enjoy__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.enjoy__link {
  background-color: #ffc74a;
  padding: 21px 45px;
  border-radius: 25px;
  width: 156px;
  display: inline-block;
  margin-top: 31px;
  margin-right: auto;
  margin-left: auto;
  color: #b98000;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.5px;
}

.enjoy__text {
  font-size: 19px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-top: 46px;
}

.enjoy__text a {
  color: #ffc74a;
  text-decoration: underline;
}


.header__btn-menu {
  display: none;
}

@media (max-width: 1225px) {
  .city__pic {
    margin: 58px auto 0px;
  }

  .city__info {
    margin-right: 0;
  }

  .city__text {
    width: 100%;
  }

  .city__link {
    margin: 22px auto 30px;
    display: block;
  }

  .city__inner-title {
    margin-bottom: 80px;
  }
}

@media (max-width: 1100px) {
  .enjoy__title {
    font-size: 72px;
  }

  .enjoy {
    min-height: 542px;
  }
}

@media (max-width: 900px) {
  .header__content-title {
    font-size: 72px;
  }

  .header__content-text {
    line-height: 74px;
  }

  .header {
    height: 715px;
  }



  .go__title {
    line-height: 32px;
  }

  .enjoy {
    min-height: 485px;
  }

  .enjoy__title {
    font-size: 58px;
    margin-top: 118px;
  }
}

@media (max-width: 760px) {

  .header {
    height: 615px;
  }

  .header__top-a {
    display: none;
  }

  .header__btn-menu span {
    display: block;
    background-color: #fff;
    width: 37px;
    height: 3px;
    border-radius: 4px;
    display: block;
    margin: 6px 0;
  }

  .header__btn-menu {
    display: block;
  }

  .header__top-item {
    display: none;
  }

  .header__content-title {
    font-size: 58px;
  }

  .header__content-link a {
    padding: 16px 26px;
    font-size: 13px;
  }

  .header__content-text {
    line-height: 63px;
  }


  .go {
    padding-top: 56px;
  }

  .go__title {
    font-size: 26px;
    line-height: 24px;
  }

  .enjoy__title {
    font-size: 48px;
    margin-top: 105px;
  }

  .enjoy {
    min-height: 440px;
  }
}

@media (max-width: 745px) {
  .go__item {
    max-width: 622px;
    width: 100%;
  }

  .go__item-pic {
    width: 100%;
  }

  .city {
    padding: 40px 0 140px;
  }

  .city__inner-title {
    margin-bottom: 55px;
  }

  .city__title {
    font-size: 30px;
  }
}


@media (max-width: 688px) {
  .go__tags-nav {
    margin-bottom: 33px;
  }
}

@media (max-width: 625px) {

  .header {
    height: 500px;
  }

  .city__inner-title {
    margin-bottom: 40px;
  }

  .city {
    padding: 30px 0 140px;
  }

  .city__title {
    margin-bottom: 17px;
  }

  .city__border {
    width: 402px;
    height: 402px;

  }

  .city__pic img {
    width: 402px;
  }

  .enjoy {
    min-height: 400px;
  }

  .enjoy__link {
    padding: 14px 43px;
    font-size: 14px;
  }

  .enjoy__title {
    font-size: 42px;
    margin-top: 98px;
  }
}

@media (max-width: 510px) {
  .city__border {
    width: 250px;
    height: 250px;

  }

  .city__pic img {
    width: 250px;
  }
}


@media (max-width: 500px) {
  .header__content-title {
    font-size: 50px;
  }

  .header__content-text {
    line-height: 50px;
  }

  .header {
    height: 475px;
  }



  .go__title {
    font-size: 24px;
    line-height: 12px;
  }

  .enjoy__title {
    font-size: 35px;
    margin-top: 80px;
  }

  .enjoy {
    min-height: 375px;
  }

  .enjoy__text {
    font-size: 16px;
  }

}

@media (max-width: 400px) {

  .header__content-title {
    font-size: 37px;
  }

  .header__content-link a {
    padding: 13px 19px;
    font-size: 10px;
  }

  .header__content-nav {
    margin-top: 4%;
    font-size: 16px;
  }

  .header__content-text {
    font-size: 16px;
    line-height: 48px;
  }

  .header {
    height: 420px;
  }

    .go__item {
      width: 277px;
      margin: 0 auto;
      margin-top: 10px;
    }
  
    .go__inner {
      display: block;
    }
  
    .enjoy__title {
      font-size: 26px;
      margin-top: 60px;
    }
  
    .enjoy__text {
      font-size: 12px;
    }
  
    .enjoy {
      min-height: 316px;
    }
}





@media (max-width: 375px) {
  .go__tags {
    display: block;
  }

  .go__tags-link {
    display: block;
    text-align: center;
    margin-bottom: 7px;
  }
}

@media (max-width: 340px) {
  .header__content-text {
    font-size: 14px;
    line-height: 45px;
  }

  .header__content-title {
    font-size: 33px;
  }

  .header__content-nav {
    margin-top: 7%;
    font-size: 15px;
  }

  .go__title {
    font-size: 21px;
  }

  .city__pic img {
    width: 215px;
  }

  .city__border {
    width: 215px;
    height: 215px;
  }
}